#blog-list {
    list-style-type: none;
    padding: 0;
}

#blog-list a {
    color: blue;
    font-size: 2rem;
}

.blog {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}