$main-bg-color: #FFFFFF;
$second-color: #d9d9d9;
$third-color: #000000;
$fourth-color: #5f4bb6;
$fifth-color: #9e829c;
$sixth-color: #fdf5fd;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $sixth-color;
	position: relative;
	min-height: 100vh;
}

/* GENERAL TEXT STYLING */

/* page titles and headers */
h1 {
    /*font-size: 37pt;*/
    font-size: calc(2vw + 16px);
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 2px;
    font-family: 'Newsreader', serif; 
    margin-top: 0px;
    margin-bottom: 0px;
}

/* topic and paragraph headers */
h2 {
    font-size: calc(1.5vw + 16px);
    color: black;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Akshar', sans-serif;
    text-transform: capitalize;
}

/* Sub header */
h3 {
    font-size: calc(1vw + 16px);
    color: black;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Akshar', sans-serif;
    text-transform: capitalize;
}

/* Sub-sub header */
h4 {
    font-size: 16pt;
    color: black;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Akshar', sans-serif;
    text-transform: capitalize;
}

a {
  color: $fourth-color;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #FFD5AD;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #0F6466;
  background-color: transparent;
  text-decoration: underline;
}

p {
  font-size: 14pt;
  color: Black;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

footer {
	width: 100%;
	bottom: 0;
	margin-top: 1rem;
	position: absolute;
	text-align: center;
    background-color: $second-color;
}

/* GENERAL CLASSES */

.title-overlay {
  font-size: 25vw;
}

/* Main body text */
.body-copy {
    font-size: 14pt;
    color: Black;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

/* emphasized body text */
.call-out {
    font-size: 14pt;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

.legal {
    font-size: 9pt;
    color: Black;
    font-weight: 400;
    line-height: 12px;
    font-family: 'Roboto', sans-serif;
}

.hide {
    display: none;
}

/* HEADER AND NAVBAR */

.header {
    width: 100%;
    display: block;
}

.below-header {
	padding-bottom: 2.5rem;
    margin: 0 auto;
}

.navbar-image {
    display: block;
    padding-bottom: 0;
}

.navbar-title {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;
}

.navbar-top {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
	background: $second-color;
}

.navbar-top img {
    height: 8rem;
    width: 8rem;
    margin-bottom: 0;
    margin-right: 0;
    justify-content: center;
}

.nav-links {
    background-color: #aeabab;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem 0;

    a {
        padding: 0 0.5rem;
    }
}

.main-body {
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    background: $sixth-color;
}

/* LANDING PAGE */

.welcome-vid {
    /*margin-top: 12em;*/
    pointer-events: none;
    display: block;
    width: 800px;
    min-width: 100vw;
    height: auto;
    overflow-x: hidden;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 1rem;
}

.quickSearch {
    display: inline-block;
    min-width: 45%;
    height: 3rem;
    margin: 1rem;
    border-width: 1px;
    border-radius: 2px;
    padding-left: 8px; 
    padding-right: 8px;
    border-style: solid;
    background-color: white;
    border-color: Black;
    font-size: 16pt;
    line-height: 24px;
    text-transform: capitalize;
}

.title-overlay {
    background-color: $second-color;
    text-align: center;
    height: auto;
    width: auto;
    text-align: center;
    /*position: absolute;*/
    top: calc(13% - 3vh);
    margin: auto;
    padding: 2rem 0 1rem 0;
}

.search-button {
    border-radius: 2px;
    text-align: center;
    background-color: #1690a8;
    color: white;
    border-width: 0px;
    width: 7.5em;
    height: 2em;
    font-size: 21pt;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Akshar', sans-serif;
    text-transform: capitalize;
    margin-top: 1rem;
}

.search-button:hover {
    background-color: #1EC5F7;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blog-post {
    background-color: #ededed;
    min-width: auto;
    max-width: 250px;
    min-height: auto;
    max-height: 300px;
    padding: 2rem 1rem;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    border: 2px solid #1690a8;
    border-radius: 2px;
}

/* BLOG PAGE */

#blog-list {
    list-style-type: none;
    margin: 1rem 0;
}

#blog-list a {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.blog {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-body {
    margin: 1rem 0;
}

/* ABOUT */

.about {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.about h2 {
    padding: 0 2rem;
}

.about p {
    font-size: 1.75rem;
    padding: 2rem;
    margin: 0;
}

.about a {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.about img {
    width:25%; 
    flex-shrink: 1;
}

.kofi-link {
    text-align: center; 
}

/* EVENTS */

#event-list {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2 2 50%;
}

#event-list a:hover {
    text-decoration: none;
}

#spell-components {
    flex: 1 1;
    min-width: 20%;
    width: auto;
    padding: 0 1rem;
    align-items: flex-start;
    justify-content: center;
    display: grid;
    margin: auto;
    z-index: 1;
    form {
        margin: 1rem 0 0 0;
        display: inline-grid;
        width: 100%;
        label {
            font-size: 1rem;
        }
    }
    input {
        margin: 0.5rem 0 1rem 0;
        line-height: 1.5rem;
    }
    h3, h4 {
        text-align: center;
        text-decoration: underline;
    }
}

#hide-button {
    display: block;
}

#show-button {
    display: none;
}

#search-plus-list {
    flex: 2 2 75%;
}

#no-results {
    display: none;
}

.event {
    background-color: #fff6ee;
    font-size: calc(1rem + 0.5vw);
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
	padding: 0.5rem;
    margin: 1rem;
    flex: 1 1 20%;
    max-width: 20%;
    min-width: 200px;
    min-height: 200px;
    box-shadow:  4px 6px 8px 2px rgba(0,0,0,0.7);
    border-radius: 1em;
    border: 2px solid;
    border-color: #f7d1ad;
    color: Black;
    transition: 0.3s;
    p {
        margin-top: 0.75rem;
    }
}

.event:hover {
    background-color: #d6cec7;
    border-color: #d39b66;
    cursor: pointer;
}

.event a {
    display: none;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
}

.event h2 {
    font-size: calc(1rem + 0.75vw);
    font-weight: 700;
    margin-top: 0px;
    color: #5C2B69;
}

.event div {
    margin: 0.5rem 0;
}

.event-search {
	display:flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	align-items: center;
	input {
		margin: 0.5rem;
        min-width: 33%;
	}
	button {
		margin: 0.5rem;
        align-self: center;
	}
}

.showhide-wrapper {
    text-align: center;
}

.event-detail {
    b {
        font-size: 1.5rem;
    }
    p {
        margin: 0.75rem 0;
        font-size: 1.25rem;
    }
    h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    a {
        font-size: 1.5rem;
    }
}

/* MODAL FOR EVENTS PAGE */

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#modal-content {
    background-color: white;
    color: black;
    margin: auto;
    display: block;
    padding: 0.5rem 1rem;
    width: 80%;
    max-width: 700px;
    a {
        font-size: 1.75rem;
    }
}

/* Add Animation - Zoom in the Modal */
#modal-content {
    animation-name: zoom;
    animation-duration: 0.3s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

#google-map {
    height: auto;
    text-align: center;
    padding: 3rem 6rem;
    border: 1px solid black;
}

#event-info .body-text {
    margin: 0.5rem 0;
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    z-index: 1; /* Sit on top */
    color: #d30e0e;
    opacity: 0.9;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}