{% extends 'base.html' %}
{% load static %}

{% block title %}
	Blog
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <h2>Blog Posts</h2>
    {% if blog_list %}
        <ul id="blog-list">
        {% for blog in blog_list %}
            <li><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No blog entries are available.</p>
    {% endif %}
{% endblock %}