.about {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.about h1 {
    padding: 0 2rem;
}

.about p {
    font-size: 1.75rem;
    padding: 2rem;
    margin: 0;
}

.about a {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.about img {
    width:25%; 
    flex-shrink: 1;
}

.kofi-link {
    text-align: center; 
}