{% extends 'base.html' %}
{% load static %}

{% block title %}
	About
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="about">
    <h1>About Us</h1>
    <p>
        Welcome to The Locator Spell, the magic portal to all your favorite gaming events! Our website is the key to unlocking a world of exciting games, tournaments, and meetups happening in your area. Whether you're a seasoned player or a curious newbie, our easy-to-use interface and comprehensive database of events will help you find the perfect gaming experience. From tabletop games to video games, The Locator Spell has it all, and we're constantly updating our listings to keep you in the loop. So cast a spell and let us guide you to your next gaming adventure!
    </p>
    <a class="kofi-link" href="https://ko-fi.com/thelocatorspell"><img src="{% static "img/BuyMeACoffee_dark2x.png" %}" style="width:25%; flex-shrink: 1;"></a>
    <p> 
        Looking for a way to support your gaming hobby? Help keep The Locator Spell running by donating today! Our website connects you with gaming events all over the U.S., and we need your help to continue providing this service. Every dollar counts - donate now and help us keep the gaming community connected!
    </p>
    <p>
        For Event Coordinators looking to broadcast an event, please reach out to: <a href = "mailto: support@thelocatorspell.com">support@thelocatorspell.com</a>
    </p>
</div>
{% endblock %}