{% extends 'landing.html' %}

{% block title %}
	Welcome to The Locator Spell
{% endblock %}

{% block content %}
<div class="below-header">
	<form action="/events" method="GET">
		<div class="search-bar">
			<input type="text" class="quickSearch" name="query"
				placeholder="Quick Cast" />
			<button class="search-button" type="submit">
				Search
			</button>
		</div>
	</form>
	<div class="blog-posts">
		{% for post in blog_posts %}
		<div class="blog-post">
			<h4>{{ post.title }}</h4>
			<small>{{ post.date_posted }}</small>
			<p>{{ post.post }}</p>
			<br>
			<a href="{% url 'blog:detail' post.id %}">View Blog Post</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}