{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ event.name }}
{% endblock %}

{% block content %}
<div class="below-header event-detail">
    <h2>{{ event.name }}</h2>
    <p><b>Tournament Organizer</b><br> {{ event.tournament_organizer }}</p>
    <p><b>Location</b><br> {{ event.location }}</p>
    <p><b>Event Type</b><br> {{ event.event_type }}</p>
    <p><b>Category</b><br> {{ event.category }}</p>
    <p><b>Start Date</b><br> {{ event.start_date }}</p>
    <p><b>End Date</b><br> {{ event.end_date }}</p>
    <p><b>Charity</b><br> {{ event.charity }}</p>
    <p><b>Promoted</b><br> {{ event.promoted }}</p>
    <p><b>Price</b><br> {{ event.price }}</p>
    <p><b>URL</b><br> {{ event.url }}</p>
    <p><b>Description</b><br> {{ event.description }}</p><br>
    <a href="javascript:history.back()">Back to Events</a>
</div>
{% endblock %}