{% extends 'base.html' %}
{% load static %}

{% block title %}
	Events
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
    {% if event_list %}
        <ul id="event-list">
        {% for event in event_list %}
            <!--<li><a href="{% url 'events:detail' event.id %}">{{ event.name }}</a></li> -->
            <div class="event">
                <h2>{{ event.name }}</h2>
                <p>Organizer: {{ event.tournament_organizer }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Start Date: {{ event.start_date }}</p>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>No events are available.</p>
    {% endif %}
{% endblock %}