{% extends 'base.html' %}
{% load static %}

{% block title %}
	Events
{% endblock %}

{% block content %}
    <div id="spell-components">
        <h3>Spell Components</h3>
        <form id="main-form" method="GET" action="/events">
            {% csrf_token %}
            {{ form }}
            <input type="Submit" value="Search">
        </form>
        <div class="showhide-wrapper">
            <a id="hide-button" onclick="hideSearch()">Hide Advanced Search</a>
            <a id="show-button" onclick="showSearch()">Show Advanced Search</a>
        </div>
    </div>
    <div id="search-plus-list">
        <div id="results">
            {% if query and query != '' %}
            <p>Showing results for: "{{ query }}"</p>
            {% endif %}
        </div>
        <div class="event-search">
            <input type="text" id="event-search" placeholder="Quick Cast" onkeyup="quickSearch(this.value)"/>
            <button onclick="clearFields()">Clear</button>
        </div>
        {% if event_list %}
        <div id="event-list">
        {% for event in event_list %}
            <div class="event">
                <!-- <a href="{% url 'events:detail' event.id %}"> -->
                    <h2>{{ event.name }}</h2>
                    <p class="body-text">{{ event.tournament_organizer }}</p>
                    <p class="body-text">{{ event.location }}</p>
                    <p class="body-text">{{ event.start_date }}</p>
                    <a href="{% url 'events:detail' event.id %}">Go to event page</a> 
                <!-- </a> -->
            </div>
        {% endfor %}
        </div>
        {% else %}
            <p id="no-results">No events are available.</p>
        {% endif %}
    </div>
    

    <div id="modal" onclick="hideModal()">
        <!-- The Close Button -->
        <span class="close" onclick="hideModal()">&times;</span>
        <!-- Modal Content (Event Info) -->
        <div id="modal-content">
          <div id="google-map">Google maps space</div>
          <div id="event-info"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
      events_clickable()  
    </script>
{% endblock %}